@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #5ce1e6;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 40px #000000;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    background: #000000;
    color: #ffffff;
}

.container {
    padding: 10px 10%;
}

.not-container {
    padding: 10px 10%;
}

/* navbar */

nav {
    position: fixed;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 12vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: #000000;
    box-shadow: 0 0 20px -2px #000000;
}

.logo {
    width: 160px;
    z-index: 10;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    left: 50%;
    width: 0%;
    height: 1px;
    background: #5ce1e6;
    position: absolute;
    bottom: -4px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    left: 0;
    width: 100%;
}

nav ul button {
    margin-left: 10px;
    transition: all 0.5s ease;
    color: #ffffff;
    background-color: #5ce1e6;
    border: 2px solid #5ce1e6;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

nav ul button:hover {
    color: #5ce1e6;
    background-color: #ffffff;
}

/* header */

#header, #agency-header {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
    font-weight: 300;
    color: #5ce1e6;
    transition: transform 0.3s ease-out;
}

.header-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    line-height: 100%;
}

.header-text span {
    color: #5ce1e6;
}

/* about header */

#about-header {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    text-align: left;
}

#about-header .header-text {
    margin-top: 17%;
    font-size: 20px;
    font-weight: 300;
    color: #5ce1e6;
    transition: transform 0.3s ease-out;
}

#about-header .header-text h1 {
    font-size: 28px;
    font-weight: 500;
    color: #ffffff;
    line-height: 120%;
}

.about-image {
    width: 30%;
    float: right;
    transform: translateY(-300px);
}

/* partners */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.partners {
    margin-top: 100px;
    overflow: hidden;
    padding: 10px 0;
    background: #000000;
    white-space: nowrap;
    bottom: 0;
}

.partners-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.partners-slide img {
    height: 120px;
    margin: 0 40px;
}

#partners {
    padding: 30px 0;
}

.partners-list {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.partners-list img {
    width: 100px;
    padding: 10px;
}

/* stats */

.stats {
    margin-top: 100px;
    overflow: hidden;
    padding: 10px 0;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
    bottom: 10%;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: space-around;
    gap: 60px;
}

.stats-container {
    display: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.stats i {
    font-size: 30px;
    color: #5ce1e6;
    margin-bottom: 10px;
}

span.num {
    color: #ffffff;
    font-weight: 800;
    font-size: 36px;
}

span.text {
    color: #ffffff;
}

/* services */

#services {
    padding: 30px 0;
    background-color: #ffffff;
}

#services .sub-title {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.services-list div {
    text-align: center;
    color: #ffffff;
    background: #000000;
    padding: 40px;
    font-size: 13px;
    font-size: 300;
    border-radius: 20px;
    transition: 0.5s;
}

.services-list div:hover {
    background: #000000db;
}

.services-list div h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

#services .container button {
    transition: all 0.5s ease;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 80px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

#services .container button:hover {
    color: #000000;
    background-color: #ffffff;
}

#services i {
    font-size: 30px;
    color: #5ce1e6;
    margin-bottom: 10px;
}

/* portfolio */

#portfolio {
    padding: 30px 0;
    background-color: #000000;
}

#portfolio .sub-title {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 50px;
}

.portfolio-list div {
    text-align: center;
    color: #ffffff;
    background: #101010;
    padding: 20px;
    font-size: 13px;
    font-size: 300;
    border-radius: 20px;
    transition: 0.3s;
}

.portfolio-list div:hover {
    background: #151515;
}

.portfolio-list div h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.portfolio-list div img {
    width: 100%;
    border-radius: 15px;
}

/* reviews */

#reviews {
    padding: 30px 0;
    background-color: #000000;
    color: #ffffff;
}

#reviews .sub-title {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.reviewers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
    margin-top: 10px;
}

.reviewers-list div {
    padding: 40px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    transition: 0.5s;
}

.reviewers-list div img {
    width: 100px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.reviewers-list div h2 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.reviewers-list div h3 {
    font-size: 15px;
    font-weight: 400;
}

.reviewers-list div a {
    text-decoration: none;
    color: #5ce1e6;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

/* team */

#team {
    padding: 30px 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#team .sub-title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.team-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;
}

.team-list div {
    padding: 40px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
    transition: 0.5s;
}

.team-list div img {
    width: 120px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.team-list div h2 {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 600;
}

.team-list div h3 {
    font-size: 15px;
    font-weight: 400;
}

.team-list div a {
    text-decoration: none;
    color: #5ce1e6;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.team-list div i {
    color: #ffffff;
    font-size: 24px;
    transition: 0.5s;
}

.team-list div i:hover {
    color: #5ce1e6;
    transform: translateY(-4px);
}

/* projects */

#projects {
    padding: 30px 0;
    background-color: #ffffff;
}

#projects .container {
    padding: 10px 5vw;
}

#projects .sub-title {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2vw;
    margin-top: 50px;
}

.projects-list a {
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}

.projects-list div img {
    width: 90%;
}

.projects-list div {
    transition: 0.5s;
}

.projects-list div:hover {
    transform: scale(95%);
}

.projects-list div h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* mail */

#mail {
    padding: 30px 0;
    background-color: #000000;
}

#mail .container h1 {
    text-align: center;
    margin: 50px 0;
}

#mail .container button {        
    transition: all 0.5s ease;
    color: #ffffff;
    background-color: #5ce1e6;
    border: 2px solid #5ce1e6;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 40px;
}

#mail .container button:hover {
    color: #5ce1e6;
    background-color: #ffffff;
}

/* footer */

footer {
    width: 100%;
    padding: 15px 0;
    background: #000000;
    margin-top: 30px;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}

.footer-item {
    padding: 15px 10%;
}

footer p {
    font-size: 16px;
}

footer p a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
}

.footer-item img {
    width: 250px;
    margin: 20px 0;
}

#footer-copyright {
    text-align: center;
    margin-bottom: 10px;
}

#footer-credits {
    margin-top: 30px;
    text-align: center;
}

.social-icons a {
    text-decoration: none;
    font-size: 18px;
    margin: 7px;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    transition: 0.5s;
}

.social-icons a:hover {
    color: #5ce1e6;
    transform: translateY(-3px);
}

form input, form textarea {
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: #5ce1e6;
    color: #ffffff;
    background: #000000;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0  ;
    resize: none;
}

#msg {
    color: #5ce1e6;
    display: block;
}

footer button {        
    transition: all 0.5s ease;
    color: #ffffff;
    background-color: #5ce1e6;
    border: 2px solid #5ce1e6;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

footer button:hover {
    color: #5ce1e6;
    background-color: #ffffff;
}



/* animation on scroll */

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.container {
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

.container div {
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

/* resposive css for small screens */

nav .fa-solid {
    display: none;
}

@media (max-width: 768px) {
    .logo {
        width: 120px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background-color: #000000;
        box-shadow: #000000;
        position: absolute;
        top: -50vh;
        left: 0;
        width: 100%;
        height: 44vh;
        padding-top: 50px;
        z-index: 2;
        transition: top 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
        text-align: center;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #agency-header {
        height: 120vh;
    }
    #about-header {
        height: 150vh;
    }
    #about-header .header-text {
        margin-top: 150%;
        font-size: 20px;
    }
    #about-header .header-text h1 {
        font-size: 20px;
    }
    #about-header img {
        width: 100%;
        float: none;
        transform: translateY(50px);
        margin-bottom: 100%;
    }
    #agency-header .header-text p {
        margin-top: 200px;
    }
    .header-text h1 {
        font-size: 40px;
    }
    .header-text {
        margin-top: 50%;
        transform: translate(0, -30%);
        font-size: 24px;
    }
    .partners-slide img {
        height: 100px;
        margin: 0 20px;
    }
    .stats {
        flex-wrap: wrap;
        gap: 30px;
        bottom: -18vh;
    }
    .stats-container {
        width: 100%;
    }
    .stats i {
        font-size: 20px;
        color: #5ce1e6;
        margin-bottom: 5px;
    }
    span.num {
        color: #ffffff;
        font-weight: 800;
        font-size: 22px;
    }
    span.text {
        color: #ffffff;
        font-size: 16px;
    }
    .services-list, .reviewers-list, .projects-list, .footer-list {
        grid-template-columns: 1fr;
    }
    #mail .container button, footer button {
        width: 100%;
        left: 0;
        transform: none;
        margin-bottom: 20px;
    }
    form input, form textarea {
        padding: 10px;
        margin: 10px 0;
    }
    footer p {
        font-size: 12px;
    }    
    .container {
        animation: appear ease;
        animation-timeline: view();
        animation-range: entry 0% cover 25%;
    }
    .container div {
        animation: appear ease;
        animation-timeline: view();
        animation-range: entry 0% cover 45%;
    }
}